/* Start CSS Reset */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}
/* End CSS Reset */

/* Start Font Styling */
.text__center {
    text-align: center;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__justify {
    text-align: justify;
}
/* End Font Styling */

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/* NAVBAR */
.navbar {
    background-color: #FD8A8A;
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, .3);
}

.navbar a, 
.navbar__item a {
    color: white;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .banner__wrapper .title__banner {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}


.navbar .navbar__list {
    display: flex;
}

.navbar .navbar__list .navbar__item {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.navbar .navbar__list .navbar__dropdown a {
    display: flex;
    align-items: center;
}

.navbar .navbar__list .navbar__dropdown .dropdown__icon {
    margin-left: 3px;
}

.navbar .navbar__list .navbar__dropdown .navbar__dropdown__list {
    position: absolute;
    top: 70px;
    left: 100px;
    right: 100px;
    height: 30px;
    display: flex;
    transform: translateY(-200%);
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    background-color: #FD8A8A;
    transition: transform 1s ease-in-out;
}

.navbar .navbar__list .navbar__dropdown .navbar__dropdown__list::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-left: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    border-right: 15px solid #FD8A8A;
    height: 0;
    width: 0;
}

.navbar .navbar__list .navbar__dropdown .navbar__dropdown__list::before {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    border-left: 15px solid #FD8A8A;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    height: 0;
    width: 0;
}


.navbar .navbar__list .navbar__dropdown.active .navbar__dropdown__list {
    transform: translateY(0);
    animation: navbar_dropdown_active 1s ease-in-out;
    z-index: 999999;

}

@keyframes navbar_dropdown_active {
    0% {
        transform: translateY(-200%);
        transform: scale(0);
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
    }
}

/* CONTENT */
.page {
    padding-top: 20px;
    transition: margin-top 1s ease-in-out;
}

.page.active {
    margin-top: 44px;
}

.content__wrapper {
    border-radius: .275rem;
    padding: 20px 0;
    background-color: white;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title__page {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 100;
}

.refresh__toggler {
    height: min-content;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: #16213E;
    border-radius: .125rem;
    margin-bottom: 10px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.refresh__toggler i {
    font-size: 18px;
    margin-left: 5px;
}

.refresh__toggler:hover,
.refresh__toggler:active {
    color: #16213E;
    background-color: #ECE8DD;
}

.table__wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-left: 1px solid #BAD7E9;
    border-right: 1px solid #BAD7E9;
    border-bottom: 1px solid #BAD7E9;
}

.table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    padding: 10px;
    white-space: nowrap;
    color: #fff;
    color: #16213E;
    border: 1px solid #BAD7E9;
}

.table th {
    padding: 15px 10px;
}

.table thead tr {
    background-color: #F1F7B5;
}

.table tbody tr:hover {
    background-color: #F8F4EA;
}

/* LOADING */
.loading__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    z-index: 99999999;
}

.loading__wrapper.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner__icon {
    width: 46px;
    height: 46px;
    border-width: .40rem;
    border-style: solid;
    border-color: #fff;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner__text {
    color: white;
}

.spinner__text::after {
    animation: ellipsis 2s steps(3) infinite;
    content: ". . .";
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

@keyframes ellipsis {
    0% { width: 0; }
    75% { width: 3ch; }
    100% { width: 5ch; }
}


/* Upload File */
#drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: #DFD3C3;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
#drop-area.highlight {
    border-color: #85586F;
}
.label__file {
    padding: 5px 15px;
    color: #16213E;
    border-radius: .125rem;
    background-color: #ECE8DD;
    border-radius: .125rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.label__file:hover,
.label__file:active {
    color: #16213E;
}
.input__file {
    display: none;
}
#inputFile {
    display: none;
}
.info__input__file {
    font-size: 16px;
}
.submit__file {
    padding: .5rem;
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: .175rem;
    cursor: pointer;
    width: 100%;
    background-color: #FD8A8A;
}
#displayFile {
    margin: 15px 0;
    display: none;
    padding: 10px 0;
    position: relative;
}
#displayFile.active {
    display: flex;
    justify-content: space-between;
}
#displayFile.upload::after, #displayFile.upload::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
}
#displayFile.upload::before {
    width: 100%;
    background-color: whitesmoke;
}
#displayFile.upload::after {
    width: 0%;
    background-color: #39B5E0;
    animation: file_upload 1s ease;
}
@keyframes file_upload {
    0% { width: 0; }
    100% { width: 100%; }
}
#delFileElem {
    color: #FF0032;
    cursor: pointer;
}

