{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ICON -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>

    <!-- STYLE -->
    <link rel="stylesheet" href="{% static 'css/css_grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

    <!-- TOP NAVBAR -->
    <nav class="navbar">
        <div class="container">
            <div class="banner__wrapper">
                <a href="{% url 'uncleanup_data' %}" class="title__banner">MeanShift Clustering</a>
            </div>
            <div class="navbar__wrapper">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="{% url 'index' %}">Upload File</a>
                    </li>
                    {% if upload_file %}
                        <li class="navbar__item">
                            <a href="{% url 'uncleanup_data' %}">Pre-Cleaned Data</a>
                        </li>
                        <li class="navbar__item">
                            <a href="{% url 'cleanup_data' %}">Data After Cleaning</a>
                        </li>
                        <li class="navbar__item navbar__dropdown">
                            <a href="javascript:void(0)">
                                <span>Cluster Reports</span>
                                <i class='dropdown__icon bx bxs-down-arrow'></i>
                            </a>
                            <ul class="navbar__dropdown__list">
                                <li class="navbar__dropdown__item">
                                    <a href="" id="download-html">HTML Report</a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'excel_report' %}">EXCEL REPORT</a>
                                </li>
                            </ul>
                        </li>
                        {% if cluster_view %}
                            <li class="navbar__item navbar__dropdown">
                                <a href="javascript:void(0)">
                                    <span>MeanShift Clustering</span>
                                    <i class='dropdown__icon bx bxs-down-arrow'></i>
                                </a>
                                <ul class="navbar__dropdown__list">
                                    <li class="navbar__dropdown__item">
                                        <a href="{% url 'data_cluster' %}?cluster=0">Data Cluster 0</a>
                                    </li>
                                    <li class="navbar__dropdown__item">
                                        <a href="{% url 'data_cluster' %}?cluster=1">Data Cluster 1</a>
                                    </li>
                                    <!-- <li class="navbar__dropdown__item">
                                        <a href="{% url 'data_cluster' %}?cluster=2">Data Cluster 2</a>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="navbar__item navbar__dropdown">
                                <a href="javascript:void(0)">
                                    <span>MeanShift Report</span>
                                    <i class='dropdown__icon bx bxs-down-arrow'></i>
                                </a>
                                <ul class="navbar__dropdown__list">
                                    <li class="navbar__dropdown__item">
                                        <a href="{% url 'report_cluster' %}?cluster=0">Report Cluster 0</a>
                                    </li>
                                    <li class="navbar__dropdown__item">
                                        <a href="{% url 'report_cluster' %}?cluster=1">Report Cluster 1</a>
                                    </li>
                                    <!-- <li class="navbar__dropdown__item">
                                        <a href="{% url 'report_cluster' %}?cluster=2">Report Cluster 2</a>
                                    </li> -->
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="page" id="page">
        <div class="container">
            {% if not upload_file %}
            <div class="upload__file__wrapper">
                <div id="drop-area">
                    <p class="info__input__file">Drag and drop file here or</p>
                    <label class="label__file" for="inputFile">Browse</label>
                    <input type="file" id="inputFile"/>
                </div>
                <div id="displayFile"></div>
                <a href="{% url 'uncleanup_data' %}?upload_file=True" class="submit__file">SUBMIT</a>
            </div>
            {% endif %}
            {% if upload_file %}
                <div class="content__wrapper">
                    <div class="header__wrapper">
                        <h2 class="title__page">{{ title_page }}</h2>

                        {% if refresh_button_cluster %}
                        <a href="{% url 'data_cluster' %}?cluster={{ data_query_param }}" class="refresh__toggler" type="button">
                            Refresh
                            <i class='bx bx-refresh'></i>
                        </a>
                        {% endif %}

                        {% if refresh_button == False %}
                        <a href="{% url 'cleanup_data' %}?refresh_data=0" class="refresh__toggler" type="button">
                            Data Enters Machine Learning
                            <i class='bx bx-refresh'></i>
                        </a>
                        {% endif %}

                        {% if refresh_button == True %}
                        <a href="{% url 'cleanup_data' %}?refresh_data=1" class="refresh__toggler" type="button">
                            Refresh
                            <i class='bx bx-refresh'></i>
                        </a>
                        {% endif %}
                    </div>
                    <div class="table__wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    {% for title in title_data %}
                                        <th class="text__center">{{ title }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in content_data %}
                                <tr>
                                    {% for k, v in data.items %}
                                        {% if k != 'index' %}
                                            <td class="text__center">{{ v }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- LOADING -->
    <div id="loading-wrapper" class="loading__wrapper">
        <div class="spinner__icon"></div>
        <p class="spinner__text">Generating Report</p>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/download_file.js' %}"></script>
</body>
</html>